<% @articles.each do |article| %>
  <div class="uk-container uk-card uk-card-default uk-card-body article">
    <article class="uk-article">

      <h2 class="uk-article-title">
        <a class="uk-link-reset" href="/article/<%= article.id %>"><%= article.title %></a>
      </h2>

      <p class="uk-article-meta">Escrito por <a href="#"><%= article.user.name %></a> - <%= article.created_date %></p>

      <p><%= article.body %></p>

      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a class="uk-button uk-button-text" href="/article/<%= article.id %>">Leer más</a>
        </div>
      </div>

    </article>
  </div>
<% end %>
