<div class="uk-container uk-card uk-card-default uk-card-body article">
  <article class="uk-article">

    <h2 class="uk-article-title uk-heading-divider">
      <a class="uk-link-reset" href="/articles/<%= @article.id %>"><%= @article.title %></a>
    </h2>

    <p class="uk-article-meta">Escrito por <a href="#"><%= @article.user.name %></a> - <%= @article.created_date %></p>

    <p class="uk-text-justify body"><%= @article.body %></p>

  </article>
</div>

<div class="uk-container uk-card uk-card-default uk-card-body article">
  <h1 class="uk-heading-line uk-text-center"><span>Comentarios</span></h1>
  <article class="uk-comment">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <img class="uk-comment-avatar" src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.0-9/18157674_772807619560063_6546845697756586209_n.jpg?oh=75de6259f30d3e79a1f262f13df6fe66&oe=5A08879B" width="80" height="80" alt="">
      </div>
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Jey Jey</a></h4>
        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
          <li><a href="#">12 days ago</a></li>
        </ul>
      </div>
    </header>
    <div class="uk-comment-body">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Sed diam voluptua. At vero eos et accusam.</p>
    </div>
  </article>
  <hr class="uk-divider-icon">
  <article class="uk-comment">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <img class="uk-comment-avatar" src="https://ugc.kn3.net/i/origin/http://www.fullinbloommusic.com/images/dimebag_1.jpg" width="80px" height="80px" alt="">
      </div>
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Dimebag Darrell</a></h4>
        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
          <li><a href="#">8 days ago</a></li>
        </ul>
      </div>
    </header>
    <div class="uk-comment-body">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </article>
</div>
