<%= erb :navbar %>
<br>

<% unless locals.empty? %>
  <div class="uk-container">
    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </div>
  </div>
<% end %>

<div class="uk-container uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Registrarse</h3>

  <form class="uk-form-stacked" method="post" action="/register">

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Nombre completo</label>
      <div class="uk-form-controls">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input name="name" class="uk-input" type="text" value="<%= @user.name %>">
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">E-mail</label>
      <div class="uk-form-controls">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: mail"></span>
          <input name="email" class="uk-input" type="email" value="<%= @user.email %>">
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Nombre de usuario</label>
      <div class="uk-form-controls">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: bolt"></span>
          <input name="username" class="uk-input" type="text" value="<%= @user.username %>">
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Contraseña</label>
      <div class="uk-form-controls">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input name="password" class="uk-input" type="password">
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-secondary">Registrarse</button>
    </div>

  </form>

</div>
